<ion-header [translucent]="true">

  <ion-toolbar>
   <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
 </ion-header>
 
 
 
 <ion-content [fullscreen]="true" class="login-content">
  <ion-item>
   <!-- <ion-input label="Default input" [(ngModel)]="user.apellido"></ion-input> -->
  </ion-item>
 
  <div class="background-container">
  <div class="fullscren-container">
   <img src="https://media.istockphoto.com/id/2043823329/es/foto/concepto-de-ciberseguridad-de-la-red-de-internet-protecci%C3%B3n-de-la-privacidad-de-los-datos.jpg?s=1024x1024&w=is&k=20&c=adBovRKD-Ozr2jjVl2GwIpEWsKXcLXaQ5kV--SnVhNE=" alt="Login Image" class="login-image">
  </div>
  </div>

 
 
  <form [formGroup]="usuario">
   <ion-item>
    <ion-input label="User" labelPlacement="floating" placeholder="User" formControlName="user"></ion-input>
   </ion-item>

   <ion-item>
    <ion-input label="Pass" labelPlacement="floating" placeholder="Pass" formControlName="pass"></ion-input>
   </ion-item>

   <!-- <ion-button expand="block" color="success" [disabled]="!usuario.valid" [routerLink]="['/homaalumno']" fill="outline">Ingresar</ion-button> -->
   <ion-button expand="block" color="success" (click)="navegarExtras()" fill="outline">Login</ion-button>
   <!-- <ion-button expand="block" color="success" [routerLink]="['/home']" fill="outline">Nav RouiterLink</ion-button> -->
 
  </form>
  <!-- <ion-card #card>
   <ion-card-content>Card</ion-card-content>
  </ion-card> 
 
  <ion-button (click)="play()">Play</ion-button> -->
 
 </ion-content>
 
 